<style media="screen">
  body{
    background-image: url(<%= asset_path 'greenbg.jpg' %>);
    background-size: cover;
  }
</style>
<%= form_for(@requisition, :html => { :class => "form-horizontal" }) do |f| %>
<% if @requisition.errors.any? %>
<div id="error_explanation">
  <% if @requisition.errors.count == 1 %>
  <h5><%= t("activerecord.errors.template.header.one", model: t("activerecord.models.requisition")) %></h5>
  <% else %>
  <h5><%= t("activerecord.errors.template.header.other", model: t("activerecord.models.requisition"), :count => @requisition.errors.count) %></h5>
  <% end %>
  <ul>
    <% @requisition.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- begin col-md-6 -->
<div class="col-md-4">
  <h4>Detalles de tu solicitud</h4><hr>
  <div class="form-group">
    <%= f.label "Cantidad Solicitada", :class => "col-md-3" %>
    <div class="col-md-9">
    <%= f.number_field :requested_amount, :min => 10000, :class => "form-control", :required => true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Detalle de la solicitud", :class => "col-md-3" %>
    <div class="col-md-9">
    <%= f.text_area :comment, placeholder: "Escribe el por que necesitas el prestamo, explicanos tu necesidad para poder atenderte mejor", rows: 10, :class => "form-control" , :required => true %>
  </div>
</div>

</div>
<div class="col-md-4">
  <h4>Detalles economicos</h4><hr>
  <div class="form-group">
    <%= f.label "Ingresos Mensuales", :class => "col-md-7" %>
    <div class="col-md-5">
      <%= f.number_field :income, :required => true, :class => "form-control" %>
      <%= f.hidden_field :profile_id, :value => current_profile.id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Estado civil", :class => "col-md-3" %>
    <div class="col-md-9">
      <select class="form-control" name="requisition[marital_status]" id="requisition_marital_status" required>
        <option value="Soltero">Soltero</option>
        <option value="Casado">Casado</option>
        <option value="Divorciado">Divorciado</option>
        <option value="Viudo">Viudo</option>
        <option value="Union Libre">Union Libre</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Número de dependientes economicos", :class => "col-md-8" %>
  <div class="col-md-4">
    <%= f.number_field :dependents_number, max: 15, min: 0, :class => "form-control" , :required => true %>
  </div>
</div>
<hr>
  <h5>Selecciona las casillas segun los servicios y prestaciones con las que cuentas.</h5>
  <hr>
  <div class="form-group">
      <%= f.label "Tengo Seguro de Gastos Mayores", :class => "col-md-8" %>
    <div class="col-md-4">
      <%= f.check_box :has_sgmm, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label "Estoy registrado en IMSS", :class => "col-md-8" %>
    <div class="col-md-4">
      <%= f.check_box :has_imss, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label "Tengo Automovil", :class => "col-md-8" %>
    <div class="col-md-4">
      <%= f.check_box :has_car, :class => "form-control" %>
    </div>
  </div>
</div>
<div class="col-md-4">
        <h4>Detalles laborales</h4><hr>
        <div class="form-group">
          <%= f.label "Tiempo viviendo en su domicilio", :class => "col-md-7" %>
          <div class="col-md-5">
            <select class="form-control" name="requisition[address_years]" id="requisition_address_years" required>
              <option value=0>Menos de un año</option>
              <option value=1>1 año</option>
              <option value=2>2 años</option>
              <option value=3>3 años</option>
              <option value=4>4 años</option>
              <option value=5>5 años o mas</option>
            </select>
          </div>
        </div>

        <div class="form-group">
            <%= f.label "Posicion laboral", :class => "col-md-5" %>
          <div class="col-md-7">
            <select class="form-control" id="requisition_company_position" name="requisition[company_position]" required>
              <option value="Empleado">Empleado</option>
              <option value="Supervisor">Tecnico</option>
              <option value="Supervisor">Supervisor</option>
              <option value="Gerente">Gerente</option>
              <option value="Socio">Socio</option>
              <option value="Emprendedor">Emprendedor</option>
              <option value="Desempleado">Desempleado</option>
              <option value="Jubilado">Jubilado</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Nombre de la compañia", :class => "col-md-5" %>
          <div class="col-md-7">
            <%= f.text_field :company_name, :class => "form-control" , :required => true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Numero de telefono de la compañia", :class => "col-md-5" %>
          <div class="col-md-7">
            <%= f.telephone_field :company_phone_number, :class => "form-control" , :required => true %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Tiempo trabajando en la empresa actual", :class => "col-md-7" %>
          <div class="col-md-5">
            <select class="form-control" id="requisition_company_years" name="requisition[company_years]" required>
              <option value=0>Menos de 1 año</option>
              <option value=1>1 año</option>
              <option value=2>2 años</option>
              <option value=3>3 años</option>
              <option value=4>4 años</option>
              <option value=5>5 años o mas</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Terminos de pago", :class => "col-md-5" %>
          <div class="col-md-7">
            <select class="form-control" id="requisition_payment_terms" name="requisition[payment_terms]" required>
              <option value="Pago Unico">Pago Unico</option>
              <option value="Pago a Meses">Pago a Meses</option>
              <option value="Pagos Fijos">Pagos Fijos</option>
              <option value="A pagos Chiquitos">A pagos chiquitos</option>
            </select>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label "Banco", :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :bank, :class => "form-control" , :required => true %>
          </div>
        </div>
      </div>
<!-- end col-md-6 -->

  <div class="col-md-12">
    <hr>
    <h4 style="text-align:center">Referencias Personales</h4><hr>
    <h5 style="text-align:center">Por ultimo necesitamos que nos brindes almenos 3 referencias personales obligatorias, se pueden dar
    las referencias necesarios solo deben de ser mas de 3.</h5>
    <%= f.fields_for :references do |reference| %>
      <%= render 'reference_fields', f: reference %>
    <% end %>
    <div class="links">
      <h5 style="text-align:center"> <%= link_to_add_association 'Agregar referencia', f, :references, class: "btn btn-info" %></h5>
      </div>
  </div>
  <div class="clearfix">

  </div><hr>
<div class="col-md-12">
  <div class="form-group">
    <div class="col-md-12 text-center">
      <%= f.button :class => "submit btn btn-success submit-form-x", :data => { :disable_with => t("actions.saving") } do %>
      <i class='icon-ok'></i>
      Crear Peticion
      <% end %>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(".submit-form-x").click(function(e){
    e.preventDefault();
    if( $(".references-div").length >= 3){
      $("form").submit()
    }else{
      alert("te faltan referencias")
    }
  })


           $(function () {

             $("#requisition_requested_amount").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
           // Allow: Ctrl+A, Command+A
          (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
           // Allow: home, end, left, right, down, up
          (e.keyCode >= 35 && e.keyCode <= 40)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
  });
             $("#requisition_dependents_number").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
           // Allow: Ctrl+A, Command+A
          (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
           // Allow: home, end, left, right, down, up
          (e.keyCode >= 35 && e.keyCode <= 40)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
  });

               $("#requisition_income").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
           });
       </script>
