<!-- begin row -->
<div class="row">
  <!-- begin col-md-12 -->
  <div class="col-md-12">
    <div class="invoice">
      <div class="invoice-content">
        <div class="table-responsive">
          <table class="table table-invoice">
            <thead>
              <tr>
                <td colspan="2">
                  <h4><%= t("details_of", model: t("activerecord.models.reference").downcase) %></h4>
                </td>
              </tr>
            </thead>
            <tbody>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.reference.first_name") %>: <br />
                    <small><%= @reference.first_name %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.reference.second_name") %>: <br />
                    <small><%= @reference.second_name %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.reference.first_last_name") %>: <br />
                    <small><%= @reference.first_last_name %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.reference.second_last_name") %>: <br />
                    <small><%= @reference.second_last_name %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.reference.cell_phone_number") %>: <br />
                    <small><%= @reference.cell_phone_number %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.reference.requisition") %>: <br />
                    <small><%= @reference.requisition %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.reference.created_at") %>: <br />
                    <small><%= @reference.created_at %></small>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="invoice-footer text-muted"></div>
    </div>
  </div>
  <!-- end col-md-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">

      <%= link_to edit_reference_path(@reference), :class => "btn btn-default" do %>
        <i class="icon-pencil"></i>
        <%= t("actions.edit") %>
      <% end %>

      <%= link_to @reference, method: :delete, data: { confirm: t("are_you_sure?", model: t("activerecord.models.reference").downcase) }, :class => "btn btn-danger" do %>
        <i class="icon-trash"></i>
        <%= t("actions.delete") %>
      <% end %>

      <%= link_to references_path, :class => "btn btn-default" do %>
        <i class="icon-chevron-left"></i>
        <%= t("actions.back") %>
      <% end %>

  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->
